<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 " style="background-color: #dedede; padding: 5px;width: 100%;bottom: 0;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">SE DÉPLACER</h6>
          <p><a class="dark-grey-text" href="#">Abonnement</a></p>
          <p><a class="dark-grey-text" href="#">Ticket et Infractions</a></p>
          <p><a class="dark-grey-text" href="#">Plan des lignes</a></p>
          <p><a class="dark-grey-text" href="#">Points de vente</a></p>
  
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">SITES DESSERVIS</h6>
         
          <p><a class="dark-grey-text" href="#">Etablissements</a></p>
          <p><a class="dark-grey-text" href="#">Hôpitaux et cliniques</a></p>
          <p><a class="dark-grey-text" href="#">Ministères</a></p>
          <p><a class="dark-grey-text" href="#">Tourisme et Culture</a></p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">NOUS CONNAÎTRES</h6>
          <p><a class="dark-grey-text" href="#">Tram, mode d’emploi</a></p>
          <p><a class="dark-grey-text" href="#">Qui sommes-nous ?</a></p>
          <p><a class="dark-grey-text" href="#">Politique Qualité</a></p>
          <p><a class="dark-grey-text" href="#">Foire aux questions</a></p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i>Rabat, Agdal, Maroc</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 21267893723</p>
          <p>
            <a class="fb-ic" href="#">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="#">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic"  href="#">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic"  href="#">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic"  href="#">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  </p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
      <a class="dark-grey-text" href="#"> Etram.com</a>
    </div>
    <!-- Copyright -->
    <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/bootstrap/js/restaurant.js"></script>
  </footer>
  <!-- Footer -->
