<p></p>
<div class="container">
    <div class="card">
        <div class="card-header">
             <h4><i class="far fa-list-alt"></i> Liste des stations</h4> 
        </div>
        <div class="card-body" >
            <form #f="ngForm"> 
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control border-secondary py-2" name="keyword" ngModel placeholder="search" autocomplete="off">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-secondary" (click)="onChercher(f.value)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <a class="btn btn-primary lien" routerLink="/nouveau-station" >Ajouter<i class="fas fa-plus sup"></i></a>

                        </div>
                    </div>
                </div>
            </form>
            <p></p>
            <table class="table table-bordered" *ngIf="stations">
                <tr>
                    <th><i class="fa fa-train" aria-hidden="true"></i> Nom</th><th><i class="fas fa-map-marker-alt "></i> Adresse</th>
                </tr>
                <tr *ngFor="let s of stations._embedded.stations">
                    <td>{{s.name}}</td>
                    <td>{{s.adresse}}</td>
                    <td><a class="btn btn-danger supp" (click)="onDeleteStation(s)" >Supprimer<i class="fas fa-trash-alt sup"></i></a></td>
                    <td><a class="btn btn-success supp" (click)="onEditStation(s)" >Modifier <i class="fa fa-edit"></i></a></td>
                </tr>
            </table> 
             <ul *ngIf="pages" class="nav nav-pills">
                <li  *ngFor="let p of pages;let i=index" class="nav-item clickable">
                     <a class="nav-link"  data-toggle="pill" (click)="onStationPage(i)">{{i}}</a>
              </li>
          </ul>
        </div>
    </div>
</div>