<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/assets/img/8.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Explorer Rabat avec E-Tram</h3>
            <p><i>Libère vos envies de voyage</i> </p>
            <a  class="btn btn-primary btn-lg" routerLink="/login">Connectez Vous!</a>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/assets/img/7.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Explorer Rabat avec E-Tram</h3>
            <p><i>Libère vos envies de voyage</i></p>
            <a  class="btn btn-primary btn-lg" routerLink="/login">Connectez Vous!</a>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/assets/img/1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Explorer Rabat avec E-Tram</h3>
            <p><i>Libère vos envies de voyage</i></p>
            <a  class="btn btn-primary btn-lg" routerLink="/login">Connectez Vous!</a>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
<hr>
  <!-- Page Content -->
  <div class="container ">
    <!-- Marketing Icons Section -->
    <div class="row mt-30 mb-30">
      <div class="col-sm-4 mb-3 text-center">
        <div class="icon mb-3"><i style='font-size:50px' class='fas'> &#xf017;</i></div>
        <h4>Horaires</h4>
        <p class="pa">Notre platforme permet de consulter les horaires des differents Tramway.</p>
        
      </div>
      <div class="col-sm-4 mb-3 text-center">
        <div class="icon mb-3"><i style='font-size:50px' class='fas'>&#xf09d;</i></div>
        <h4>Titre et tarifs </h4>
        <p class="pa">Notre platforme offre une possibilité de consultez les tarifs de voyage.</p>
        
      </div>
      <div class="col-sm-4 mb-3 text-center">
        <div class="icon mb-3"><i style='font-size:50px' class='fas'> &#xf3ff;</i></div>
        <h4>Achetez un billet </h4>
        <p class="pa">Notre platforme permet d'acheter en ligne un billet éléctronique.</p>
        
      </div>
     </div> 
     <hr>
    <!-- Features Section -->
    <div class="conPad">
    <div class="row">
      <div class="col-sm-4 content-team">
        <div class="row">
          <h4><i>A propos</i></h4>
          <p><i>Notre compagnie permet de faciliter aux voyageurs l'achat de ticket et reduire le surpeuplement dans les differents guichet.</i></p>
          

        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <img class="img-fluid rounded" src="/assets/img/4.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 content-location">
          <img  src="/assets/img/10.jpg"  alt="" style="width: 150% ;" style=" left: 900px ;" >
              </div>
      <div class="col-sm-8 content-one">
        <h1 style="text-align: center;">Statistiques</h1>
         <div class="container ">
    <!-- Marketing Icons Section -->
    <div class="row mt-30 mb-30">
      <div class="col-sm-4 mb-3 text-center">
        <div class="icon mb-3"><i style='font-size:50px' class='fas'>   &#xf007;</i></div>
        <h4>+ 500 Voyageurs</h4>
        
      </div>
      <div class="col-sm-4 mb-3 text-center">
        <div class="icon mb-3"><i style='font-size:50px' class='fas'> &#xf238;</i></div>
        <h4>+ 30   Voyages </h4>
        
        
      </div>
      <div class="col-sm-4 mb-3 text-center">
        <div class="icon mb-3"><i style='font-size:50px' class='fas'>&#xf53c;</i></div>
        <h4>+ 500 Transactions  </h4>
        
        
      </div>
     </div>  
       
        
      
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 content-team">
        <div class="row">
          <h4>Partenaire</h4>
          <p>Notre compagnie regroupe un ensemble de partenariat bancaire</p>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
         <div class="container ">
    <!-- Marketing Icons Section -->
    <div class="row mt-30 mb-30">
      <div class="col-sm-4 mb-3 text-center">
        <img src="/assets/img/13.jpg">
        
        
      </div>
      <div class="col-sm-4 mb-3 text-center">
        <img src="/assets/img/13.jpg">
        
        
      </div>
      <div class="col-sm-4 mb-3 text-center">
         <img src="/assets/img/13.jpg">
        
        
        
      </div>
     </div>  
       
        
      
      </div>
        </div>
      </div>
    </div>
</div>
<hr>